// var card_id = "<%= resource.id %>";
// $("#done-" + card_id).remove();

// var link = '<a id="undone-'+card_id+'" data-remote="true" href="/admin/cards/"'+card_id+'"/undone">重新开始</a>';
// var dom = "#card_"+card_id+" .table_actions"
// $(dom).append(link);
window.location.reload();

