// var card_id = "<%= resource.id %>";
// $("#undone-"+ card_id).remove();
// var link = '<a id="done-'+card_id+'" data-remote="true" href="/admin/cards/"'+card_id+'"/done">结束</a>';
// $("#card_1 .table_actions").append(link);

window.location.reload();

